.jumbotron{
    background-image: url(../CSS/images/istockphoto-1398608549-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .container{
       display: flex;
       align-content: space-between;
       .textHolder{
        padding-left: 10em;
        .display-4{
            color: rgba(211, 219, 209, 0.986);    
        }

        .lead{
            color: azure;
        }

       }
        
    

       .imageHolder{
        height: 300px;
       }

       .imageHolder .image-responsive{
        height: 80vh;
        width: 50vh;
        padding: 0px 0px 267px 0px;
       
        
        }
    }
    
}


        
.container-1{
    display: flex;
    width: 99rem;
    .pallet-1 .card-1{
        width: 18rem;
    }
    .pallet-2 .card-2{
        width: 18rem;
    }
    .pallet-3 .card-3{
        width: 18rem;
    }
    .pallet-4 .card-4{
        width: 18rem;
    }
    
    
}


@media screen and (max-width: 600px){
    .body{
        float: none;
        width: 100%;
    }
}



